<h1>About Us</h1>

<style>
body {
  background-color: linen;
}
</style>

<p>We are a community of gender fluid writers and performance artists</p>
<img src="http://25.media.tumblr.com/tumblr_m71rjbp9AJ1r2bfx2o1_500.gif">
