<h1>About_us</h1>
<p>Find me in app/views/welcome/about_us.html.erb</p>


<p>We are a community of gender fluid writers and performance artists</p>
<img src="http://25.media.tumblr.com/tumblr_m71rjbp9AJ1r2bfx2o1_500.gif">
