<h1>Contact</h1>

<head>Contact us via email</head>
<style>
  body {
    font-size: 20px;
    color: black;
    background-color: linen;
  }
</style>
<body>

  <p>Email: mjean_9@yahoo.com</br>
  Please put 'New Series Q Submissions' in the subject line or else your work may get lost as spam.
  </p>

</body>
