<h1>Contact</h1>
<p><%Find me in app/views/welcome/contact.html.erb%></p>

<head>Contact us via email</head>

<body style="background-image:url(http://i.imgur.com/Ugp2NM8h.jpg)">

  <p>Email: mjean_9@yahoo.com</br>
  Please put 'New Series Q Submissions' in the subject line or else your work may get lost as spam.
  </p>

</body>
