<h1>Contact Q</h1>

<head>Contact us via email</head>
<style>
  body {
    font-size: 20px;
    color: black;
    background-color: linen;
    font-style: 'fantasy';
}
  }
</style>
<body>

  <p>Email: mjean_9@yahoo.com</br>
  Please put 'New Series Q Submissions' in the subject line or else your work may get lost as spam.
  </p>

  <p>
Theres many Organizations, Joural, Publishing House, zines, Conferences, the list just gos on and on: </b> And Just Dam Good Resurces out theres that i would highlty recommend</p>
Here is my short list that will grow with everypassing day.
  </p>
<ul>
    <li>Lamdba Literary Foundation
    </li>
      <p>Lambda Literary believes Lesbian, Gay, Bisexual, Transgender and Queer literature is fundamental to the preservation of our culture, and that LGBTQ lives are affirmed when our stories are written, published and read - See more at: http://www.lambdaliterary.org/mission-statement/#sthash.llhSLHzs.dpuf
      </p>
      <%= link_to "Lambda Literary Foundation", "hhttp://www.lambdaliterary.org/" %>
    <li>Les Figues Press</li>
      <p>Les Figues Press is a nonprofit literary organization and award-winning, independent publisher of poetry, prose, visual art, conceptual writing, and translation.</br>
      </p>
      <p>Based in Los Angeles, our mission is to create aesthetic conversations between readers, writers, and artists. Les Figues Press publishes five to seven books a year and favors projects which push the boundaries of genre, form, and general acceptability. We also curate and host literary events, including readings, conversations, performances, and art salons.</br>
      </p>
      <p> Les Figues Press embraces a feminist criticality and editorial vision. We are interested in work that is aware of itself as a textual body within a history and culture marked (like physical bodies) by constructs of gender, race, class, and sexuality.</br>
      </p>
      <p>Les Figues Press: Beauty  Belief  Bawdry</p>
  </p>
    cs</p>
  <%= link_to "Le Figues", "http://lesfigues.com/" %>
  <li>FictionCircus</li>
  <%= link_to "Fiction Circus", "http://fictioncircus.com/" %>
  <li>Small Portions</li>
  <%= link_to "Small Portions", "http://www.berlspoetry.com/events/2017/1/14/small-portions-presents-carrie-bennett-aimee-harrison-marco-maisto" %>
</ul>


</body>
