<h1><strong>Submissions</strong></h1>

<!DOCTYPE html>
<html>
<style>
body {
  font-size: 20px;
  background-color: linen;
}
}
div.sample {
  font-size: 15px;
}
</style>
  <p>
  We are very much interested in expanding our community of LGBTQ writers.</br>
  Fair warning it may take a few weeks for a response to your submission. Your patience is appreciated.
  </p>

  <h2>Fiction</h2>
  <p>Fiction submissions are limited to excerpts no longer than 12 pages. All material must be previously unpublished. We welcome all genres of fiction.</p>

  <h2>Poetry</h2>
  <p>Poetry submissions are limited to no longer than 3 pages. All material must be previously unpublished. We only accept original material.</p>

  <h2>Creative Non-Fiction</h2>
  <p>All submissions are limited to excerpts no longer than 12 pages. All material must be previously unpublished. As you can already tell we only accept original material.</p>


<body>
  <div class="sample">
    <ul>
      <li><input>Name</input></li>
      <li><input>Email</input></li>
      <li><input>Bio</input></li>
      <li><input>Education</input></li>
      <li><input>Submission</input></li>
    </ul>
  </div>
</body>


</html>
