<p id="notice"><%= notice %></p>

<h1 class="Q">SeriesQ</h1>

<img src="http://i.imgur.com/zJvDtCK.jpg">
<head>


</head>

<style>

  h1.Q {
  font-family: Cursive, Times, serif;
  font-style: italic;
  background-color:linen;
}
  body {
    background-color:linen;
  }
}
</style>
<body>

</body>
